@import url(//db.onlinewebfonts.com/c/4eed94e85a810fb0ee04526f373f5cd2?family=Diary+of+an+8-bit+mage);

.Blog {
  position: relative;
  height: 200px;
  width: 240px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  cursor: pointer;
}
.Layer {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.Blog h1 {
  position: absolute;
  margin: 1rem;
  z-index: 3;
  font-family: "Diary of an 8-bit Mage", monospace;
  color: rgba(255, 255, 255, 0.9);
}
