@import url(//db.onlinewebfonts.com/c/4eed94e85a810fb0ee04526f373f5cd2?family=Diary+of+an+8-bit+mage);

.WebDevPostsContainer,
.WebDevGrid {
  margin: 0;
  background-color: #292929;
  box-sizing: border-box;
  max-width: 100vw;
  min-height: 100vh;
  padding: 1.5rem;
}
.WebDevPostsContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.WebDevPostsContainer header {
  display: flex;
  color: white;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}
.WebDevPostsContainer header img {
  height: 100px;
  margin-right: 1rem;
}
.WebDevPostsContainer header h1 {
  opacity: 0.9;
}
.WebDevGrid {
  display: grid;
  grid-template-columns: repeat(2, 25vw);
  grid-gap: 2rem;
  color: rgba(255, 255, 255, 0.8);
  justify-content: center;
}
.WebDevGrid img {
  height: 90px;
  margin-right: 1rem;
}
.JS {
  box-shadow: 6px 5px 2px rgba(240, 219, 79, 0.7);
}
.React {
  box-shadow: 6px 5px 2px rgba(10, 186, 168, 0.7);
}
.Node {
  box-shadow: 6px 5px 2px rgba(125, 195, 41, 0.7);
}
.WA {
  box-shadow: 6px 5px 2px rgba(101, 78, 240, 0.7);
}
.WebDevGrid section {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.WebDevGrid section:hover {
  transform: scale(1.1);
}
.JS:hover {
  color: rgba(240, 219, 79, 1);
}
.React:hover {
  color: rgba(10, 186, 168, 1);
}
.Node:hover {
  color: rgba(125, 195, 41, 1);
}
.WA:hover {
  color: rgba(101, 78, 240, 1);
}
.Grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 2rem 0rem;
  grid-gap: 5rem;
  max-width: 100vw;
  box-sizing: border-box;
  place-items: center;
}
.NoPosts {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.NoPosts h1 {
  color: rgba(255, 255, 255, 0.774);
  font-family: "Diary of an 8-bit Mage", monospace;
}
.NoPosts h1 span {
  color: rgba(10, 186, 168, 1);
}
@media (max-width: 1000px) {
  .Grid {
    grid-template-columns: repeat(3, auto);
    grid-gap: 2rem;
  }
}
@media (max-width: 900px) {
  .WebDevGrid {
    grid-template-columns: 90vw;
  }
  .WebDevGrid section {
    padding: 3rem 0;
    transition: all 0.1s ease-in;
  }
  .WebDevGrid section:hover {
    transform: scale(1.01);
  }
}
@media (max-width: 800px) {
  .Grid {
    grid-template-columns: repeat(2, 40vw);
  }
}
@media (max-width: 530px) {
  .Grid {
    grid-gap: 3rem;
    grid-template-columns: 95vw;
  }
}
