.Separator {
  margin: 2rem;
  height: 5px;
  width: 90vw;
  display: flex;
  justify-content: center;
  background-color: rgba(184, 184, 184, 0.521);
}

.Active {
  height: 100%;
  background-color: #1c4bb1;
  width: 13%;
}
.Label {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Label h2 {
  color: #030d22;
}
