.DropDown {
  background-color: #1f1a24;
  margin-top: 2rem;
  position: absolute;
  top: 10px;
  z-index: 55555;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  line-height: 2em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in;
  box-shadow: 2px 2px 60px rgba(255, 255, 255, 0.2);
}
.DropDown ul {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.menuItem:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.menuItem {
  width: 12vw;
  transition: all 0.2s ease-in;
  display: flex;
  align-items: center;
  max-width: 12vw;
  justify-content: center;
  padding: 0.5rem 1rem;
}
.icon {
  height: 22px;
  position: relative;
  margin-right: 0.5rem;
}
