
.DropDown{
	background-color: #1F1A24;
	margin-top: 2rem;
	position: absolute;
	top: 10px;
	z-index: 55555;
	width: 12vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	line-height: 2em;
	border: 1px solid rgba(255, 255, 255, .3);
	transition: all .3s ease-in;
	box-shadow: 2px 2px 60px rgba(255, 255, 255, .2);

}
.DropDown ul{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
	padding: 0;
}
.DropDown ul li{
	width: 12vw;
	transition: all .2s ease-in;
	padding: 0 1rem;
}
.DropDown ul li:hover{
	background-color: rgba(255, 255, 255, .2);
}
.menuItem{
	display: flex;
	align-items: center;
	max-width: 12vw;
	justify-content: center;
}
.icon{
	height: 22px;
	position: relative;
	right: 1rem;
}