.searchIcon {
  height: 27px;
}
.Search {
  background-color: #2f1a28;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  box-sizing: border-box;
  width: 12vw;
  margin: 0;
  transition: all 0.4s ease-out;
}
.Search input {
  outline: none;
  background-color: transparent;
  border: none;
  margin-left: 0.5rem;
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.8);
}
.Suggestions {
  position: absolute;
  width: 100%;
  height: 20vh;
  background-color: white;
  top: 7vh;
  left: 0;
  z-index: 1;
  box-shadow: 2px 2px 16px rgb(255 255 255 / 30%);
}
