.searchIcon{
	height: 27px;
}
.Search{
	background-color: #2F1A28;
	display: flex;
	align-items: center;
	padding: .5rem;
	box-sizing: border-box;
	width: 12vw;
	margin: 0;
	transition: all .4s ease-out;
}
.Search input{
	outline: none;
	background-color: transparent;
	border: none;
	margin-left: .5rem;
	font-size: 1.3em;
	color: rgba(255, 255, 255, .8)
}